<a style="margin:0 auto;width: 210px;display: block;" href="http://stackoverflow.com/users/2316414/richard-seal">
  <img src="http://stackoverflow.com/users/flair/2316414.png" width="208" height="58" alt="profile for Richard Seal at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Richard Seal at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a>